[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
factory-boy = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
djoser = "*"
pyyaml = "==5.3.1"
uritemplate = "==3.0.1"
drf-yasg = "==1.17.1"

[requires]
python_version = "3.8"
